body{
  background: #70e1f5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  font-family: 'Arvo', serif;
}

h1 {
    font-size: 5.0em;    
    text-align: center;

}

h2 {
    font-size: 3.0em;
    text-align: center;
    margin-left: 1%;
}

h3 {
    font-size: 2em;
    margin-left: 1.66%;
    text-align: center;
}

li {
  margin-left: 1.66%;
}



hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


#dropzone{
  width:80%;
  height:200px;
  border:1px solid black;
  background-color: grey;
  margin:auto;
  padding: inherit;
  text-align:center;
  margin-top: 10%; 
}


.aligninput{
  margin-left: 4px;
  margin-right: 4px;
}


.tools{
  border: 0.5px solid black;
  margin-left: 1px;
  background-color: grey;
  padding:5px;
  color:#e2e2e2;
}

.tools:hover{
  padding:2px;
  color:white;
  border-color: white;
}

#savePost{
  margin-top:10px;
}

a {
  cursor: pointer;
}

#editor {
  box-shadow: 0 0 2px #CCC;
  min-height: 250px;
  overflow: auto;
  
  margin-top: 20px;
  margin-left:1px;
  resize: vertical;
  outline: none;
  background:white;
}

.toolbar {
  text-align: center;
}

.toolbar a,
.fore-wrapper,
.back-wrapper {
  border: 1px solid #AAA;
  background: #FFF;
  font-family: 'Candal';
  border-radius: 1px;
  color: black;
  padding: 5px;
  width: 1.5em;
  margin: -2px;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0px 1px 0px #CCC;
}

.toolbar a:hover,
.fore-wrapper:hover,
.back-wrapper:hover {
  background: #f2f2f2;
  border-color: #8c8c8c;
}

a[data-command='redo'],
a[data-command='strikeThrough'],
a[data-command='justifyFull'],
a[data-command='insertOrderedList'],
a[data-command='outdent'],
a[data-command='p'],
a[data-command='superscript'] {
  margin-right: 5px;
  border-radius: 0 3px 3px 0;
}

a[data-command='undo'],
.fore-wrapper,
a[data-command='justifyLeft'],
a[data-command='insertUnorderedList'],
a[data-command='indent'],
a[data-command='h1'],
a[data-command='subscript'] {
  border-radius: 3px 0 0 3px;
}

a.palette-item {
  height: 1em;
  border-radius: 3px;
  margin: 2px;
  width: 1em;
  border: 1px solid #CCC;
}

a.palette-item:hover {
  border: 1px solid #CCC;
  box-shadow: 0 0 3px #333;
}

.fore-palette,
.back-palette {
  display: none;
}

.fore-wrapper,
.back-wrapper {
  display: inline-block;
  cursor: pointer;
}

.fore-wrapper:hover .fore-palette,
.back-wrapper:hover .back-palette {
  display: block;
  float: left;
  position: absolute;
  padding: 3px;
  width: 160px;
  background: #FFF;
  border: 1px solid #DDD;
  box-shadow: 0 0 5px #CCC;
  height: 70px;
}

.fore-palette a,
.back-palette a {
  background: #FFF;
  margin-bottom: 2px;
}
/*font-size*/
/*font-family*/
/*font-weight*/
/*font-height*/
/*font-align*/
/*font-decoration*/

/*Content width*/
/*Content height*/
/*border*/
/*padding*/
/*margin*/